# hadoop data 
hadoop_namenode/*
!hadoop_namenode/.gitkeep

hadoop_datanode1/*
!hadoop_datanode1/.gitkeep

tmp/hadoop-history/*
!tmp/hadoop-history/.gitkeep

# spark
spark-events/*
!spark-events/.gitkeep

# big files
*.tar 
*.tar.gz 
*.zip

