# hadoop data 
hadoop_namenode/*
!hadoop_namenode/.gitkeep

hadoop_snn/*
!hadoop_snn/.gitkeep

hadoop_datanode1/*
!hadoop_datanode1/.gitkeep

tmp/hadoop-history/*
!tmp/hadoop-history/.gitkeep

# spark
spark-events/*
!spark-events/.gitkeep

# full dist data 
full_dist_data
# big files
*.tar 
*.tgz
*.tar.gz 
*.zip

